.faq{

    padding:120px 20px;

    background:#070B14;

}

.container{

    max-width:1100px;

    margin:auto;

}

.badge{

    display:inline-block;

    padding:10px 22px;

    border-radius:999px;

    background:rgba(0,229,255,.08);

    border:1px solid rgba(0,229,255,.25);

    color:#00E5FF;

    font-weight:700;

    margin-bottom:25px;

}

.container h2{

    font-size:clamp(2.2rem,5vw,3.6rem);

    margin-bottom:20px;

    color:#fff;

}

.description{

    max-width:700px;

    color:#9CA8BD;

    line-height:1.8;

    margin-bottom:60px;

}

.accordion{

    display:flex;

    flex-direction:column;

    gap:18px;

}

/* ========================= */

.item{

    border-radius:24px;

    overflow:hidden;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    transition:.35s;

}

.item:hover{

    border-color:rgba(0,229,255,.25);

}

.active{

    border-color:#00E5FF;

    box-shadow:

        0 0 20px rgba(0,229,255,.12);

}

/* ========================= */

.question{

    width:100%;

    background:none;

    border:none;

    padding:28px 32px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    color:#fff;

    font-size:1.08rem;

    font-weight:700;

    text-align:left;

}

/* ========================= */

.icon{

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(255,255,255,.06);

    color:#00E5FF;

    font-size:1.6rem;

    transition:.35s;

    flex-shrink:0;

}

.active .icon{

    transform:rotate(45deg);

    background:#00E5FF;

    color:#07101C;

}

/* ========================= */

.answer{

    display:grid;

    grid-template-rows:0fr;

    transition:.45s ease;

}

.answer p{

    overflow:hidden;

    padding:0 32px;

    color:#AEB8C7;

    line-height:1.8;

}

.active .answer{

    grid-template-rows:1fr;

}

.active .answer p{

    padding:0 32px 30px;

}

/* ========================= */

@media(max-width:768px){

.question{

    padding:22px;

    font-size:1rem;

}

.answer p{

    padding:0 22px;

}

.active .answer p{

    padding:0 22px 22px;

}

.icon{

    width:38px;

    height:38px;

    font-size:1.3rem;

}

}