.controls{

    margin-top:35px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:28px;

}

.button{

    width:54px;

    height:54px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:1.4rem;

    color:white;

    background:rgba(255,255,255,.08);

    transition:.35s;

}

.button:hover{

    background:#00E5FF;

    color:#05070D;

    transform:scale(1.08);

}

.counter{

    color:white;

    font-size:1rem;

    font-weight:700;

    display:flex;

    align-items:center;

    gap:10px;

}

.counter span{

    color:#00E5FF;

}